{% extends 'KadekeWebsiteBundle:Page:layout.html.twig' %}
{% block content %}
    <h2>{{ page.title }}</h2>

    {{ render_pageparts(page, 'main') }}

    {% set count = 1 %}
    {% block blog %}
        {% for entry in blogentries %}
            {% if count > 1 %}<hr />{% endif %}
            {% include 'KadekeBlogBundle:BlogEntry:teaser.html.twig' %}
            {% set count = count + 1 %}
        {% endfor %}
    {% endblock %}

{% endblock %}