{% block commentform %}
    <form action="{{ path('kadekeblogbundle_comment_create', { 'blogentry_id' : comment.parent.id } ) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
{% endblock %}