{% extends 'KadekeWebsiteBundle:Page:layout.html.twig' %}
{% block content %}
    <h2>{{ page.title }}</h2>
    <h4 class="date">{{ page.getDate() | date('dS F Y - H:i') }}</h4>

    {{ render_pageparts(page, 'main') }}

    <div class="social-button-container">
        <div class="social-button tw"><a href="https://twitter.com/share" class="twitter-share-button" data-via="MopsterKD">Tweet</a></div>
        <div class="social-button li"><script type="IN/Share" data-counter="right" data-showzero="true"></script></div>
        <div class="social-button fb"><div class="fb-like" data-href="{{ path('_slug', {'url' : nodetranslation.url }) }}" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-action="recommend"></div></div>
    </div>

    {% block comments %}
        <div class="comments">
            <h3>Comments</h3>
            <div class="well">
                {% render url('kadekeblogbundle_comments', {'blogEntry': page.id}) %}
                <h4>Add Comment</h4>
                {% render url('kadekeblogbundle_comment_new', { 'blogentry_id': page.id }) %}
            </div>
        </div>
    {% endblock %}

{% endblock %}