section {
    margin-top : 10px;
    padding-top: 0px;
}

.subnav {
    margin-bottom: 0px;
}

.subhead > div:first-child {
    min-height: 150px;
}

header h1 a, header h1 a:hover, header h1 a:focus {
    color: #333333 ;
    text-decoration: none;
}