section {
    margin-top : 10px;
    padding-top: 0px;
}

.subnav {
    margin-bottom: 0px;
}

.subhead > div:first-child {
    min-height: 100px;
}

.subhead h1 {
    float:left;
}

header h1 a, header h1 a:hover, header h1 a:focus {
    color: #333333 ;
    text-decoration: none;
}

.lead {
    margin:30px 0 25px 200px;
}

div.subnav-fixed {
    top: 0px;
}

.social-button-container {
    margin-top: 15px;
    position: relative;
    display: inline-block;
}

.social-button {
    float:left;
}

.social-button-container .fb {
    margin-top: -3px;
}

.social-button-container .tw {
    width: 80px;
}

.image-pp {
    margin: 1em 0 1em 0;
}

.image-pp img {
    border: #cccccc solid 1px;
}

.date {
    font-style:italic;
}

hr {
    margin: 15px 0;
}

.disclaimer {
    font-size: 12px;;
}

.span12 .blog_summary {
    margin-left:0px;
}

.comments input, .comments textarea, .comments .uneditable-input {
    width: 300px;
}

.comments input[type="submit"] {
    width: auto;
}

.comments textarea {
    height: 106px;
}

#footer {
    margin-top:20px;
}